<% if @counter % 3 == 0 && @counter != 0%>
</div>
        <div class="row">
<% end %>  
          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="card h-100" onclick="document.location='<%= album_path(album.id) %>'" style="cursor: pointer;">
              <%= image_tag(album.photos.first.image.url) if album.photos.count > 0 %>
              <div class="card-body">
                <h4 class="card-title">
                  <a><%= album.name %></a>
                </h4>
                <p class="card-text"><%= album.description %></p>
              </div>
            </div>
          </div>
        <% @counter = @counter + 1 %>